<%- include("partials/header.ejs") %>

<div class="container">
<h2 class="pb-2 border-bottom border-dark-subtle">About me</h2>
    <div class="py-3">
        <p class="lead fs-6">
        I started my journey into the world of coding at an early age, in the times of 56kb dial-up and 
        asking Jeeves everything instead of using Google. My inspiration came from wanting (and miserably failing) 
        to hack Diabo II to duplicate valuable items to trade for better gear. 
        <br/>
        I thought, "Well everyone's doing it, so how hard could it be?". 
        <br>
        <br>
        Boy. Was. I. Wrong.
        <br>
        <br>
        On the bright side, it took me on a journey into the endless world of coding, from simple Javascript 
        games to more complex fullstack web apps and hopefully (one day) enterprise solutions.
        </p> 
    </div>
</div>

<%- include("partials/footer.ejs") %>