<%- include("partials/header.ejs") %>

<div class="container row px-4 mx-auto">
    <div class="row flex-lg-row-reverse align-items-center g-3 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/profile-pic.jpg" class="d-block mx-lg-auto img-fluid border-1 rounded-3" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 frontlead">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Cristian Nunez</h1>
        <p class="lead fs-6">I tell computers to do things;<br>Sometimes they listen; <br> Sometimes they don't;</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
    </div>
    </div>
</div>

</main>

<%- include("partials/footer.ejs") %>
