<%- include("partials/header.ejs") %>

<div  class="container row px-4 mx-auto">

    <div id="home" class="row flex-lg-row-reverse g-3 py-5">
        <div class="col-10 col-sm-10 col-lg-6">
            <img src="/images/profile-pic.jpg" class="d-block mx-lg-auto img-fluid border-1 rounded-3" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6 frontlead">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Cristian Nunez</h1>
            <p class="lead fs-6">I tell computers to do things; <br>Sometimes they listen; <br> Sometimes they don't;</p>
        </div>
    </div>

    <div id="about">
        <div>
            <h2 class="pb-2">About me</h2>
            <p class="lead fs-6">

                <p>
                    Hello there! I'm Cristian, and I'm thrilled to welcome you to my corner of the web. I'm a passionate digital explorer with a flair for creativity and a touch of nostalgia for the late '90s internet era.
                </p>
                <p>
                    Back in the late '90s, when Ask Jeeves was our go-to search engine and Neopets were our virtual companions, I found myself captivated by the endless possibilities of the digital world. It was a time when the internet was still in its infancy, and we navigated it with a sense of wonder and curiosity that's hard to replicate today.
                </p>
                <p>
                    One of my most cherished memories from that era was the thrill of trying to hack Diablo 1. It wasn't about cheating the system; it was about pushing the boundaries of what was possible and diving deep into the game's mechanics. Diablo 1 was not just a game to me; it was an inspiration. It fueled my curiosity and set me on a path of exploration that I continue to walk today.
                </p>
                <p>
                    Fast forward to today, and I've turned that passion for exploration into a career. I'm a web developer and a creator who revels in the beauty of the online world. My work is a blend of modern innovation and a heartfelt nod to the golden age of the internet. I strive to capture the essence of that era's creativity, weaving it into the websites and digital experiences I craft.
                </p>

                <!-- function describePerson(name) { <br><br>

                    const interests = ["football", "Formula 1", "travelling the world", "craft beer"]; <br><br>
                
                    let description = `Hi, I'm ${name}. `;<br>
                    description += "I enjoy "; <br>
                    for (let i = 0; i < interests.length; i++) { <br>
                        if (i === interests.length - 1 && i !== 0) { <br>
                            description += "and "; <br>
                        } <br>
                        description += interests[i]; <br>
                        if (i !== interests.length - 1) { <br>
                            description += ", "; <br>
                        } <br>
                    } <br>
                    description += "."; <br><br>
                
                    return description; <br>
                } <br><br>
                
                console.log(describePerson("Cristian")); <br> -->

            </p> 
        </div>
        <div>
            <h2 class="mb-3 mt-5">Proficiencies</h2>
            <div class="row g-3">
                <div class="col">
                    <img src="/images/html.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/css.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/javascript.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/node.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/nginx.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/ejs.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/ubuntu.svg" height="75px">
                </div>
                <div class="col">
                    <img src="/images/github.svg" height="75px">
                </div>

            </div>
        </div>
    </div>

    <div id="projects">   
        <h2 class="pb-2">Projects</h2>
        <div class="row g-3">
            <div class="col-sm">
                <div class="card" style="width: 20rem;">
                    <img src="images/rpi.png" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Pi-Napple Server</h5>
                    <p class="card-text">"Pi-Napple" is an off-cloud server solution powered by Ubuntu Server on a Raspberry Pi 5! 
                        The project utilizes the robust combination of NodeJS and ExpressJS running on NGINX, and will host future projects.</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ubuntu</li>
                        <li class="list-group-item">Raspberry Pi 5</li>
                        <li class="list-group-item">NGINX</li>
                        <li class="list-group-item">NodeJS</li>
                        <li class="list-group-item">ExpressJS</li>
                    </ul>
                    <a href="https://rpi.cristiannunez.ca" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm">
                <div class="card" style="width: 20rem;">
                    <img src="https://placehold.co/600x400?text=Coming+soon" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Str8 Pick-Em's</h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a class="btn btn-tertiary disabled placeholder col-6" aria-disabled="true"></a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm">
                <div class="card" style="width: 20rem;">
                    <img src="https://placehold.co/600x400?text=Coming+soon" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a class="btn btn-tertiary disabled placeholder col-6" aria-disabled="true"></a>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>


</div>

</main>

<%- include("partials/footer.ejs") %>
