<%- include("partials/header.ejs") %>

<div class="container">
    <h2 class="pb-2 border-bottom border-dark-subtle">works in progress</h2>
    <!-- <p>list</p> -->


    <!-- <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/rpi.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pi-Napple Server</h1>
            <p class="lead">This project will be the sandbox for self-hosted (off-cloud) full stack apps and other server based coding projects. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
          </div>
        </div>
      </div> -->

    <div class="row g-3">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="images/rpi.png" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Pi-Napple Server</h5>
                <p class="card-text">"Pi-Napple" is an off-cloud server solution powered by Ubuntu Server on a Raspberry Pi 5! 
                    The project utilizes the robust combination of NodeJS and ExpressJS running on NGINX, and will host future projects.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ubuntu</li>
                    <li class="list-group-item">Raspberry Pi 5</li>
                    <li class="list-group-item">NGINX</li>
                    <li class="list-group-item">NodeJS</li>
                    <li class="list-group-item">ExpressJS</li>
                </ul>
                <a href="https://rpi.cristiannunez.ca" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="https://placehold.co/600x400?text=Coming+soon" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Str8 Pick-Em's</h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                    <a class="btn btn-tertiary disabled placeholder col-6" aria-disabled="true"></a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="https://placehold.co/600x400?text=Coming+soon" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                    <a class="btn btn-tertiary disabled placeholder col-6" aria-disabled="true"></a>
                </div>
            </div>
        </div>

    </div>
    

</div>

<%- include("partials/footer.ejs") %>