@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --_fw-900: 900;
  --_fw-700: 700;
  --_fw-400: 400;

  --_clr-900: hsl(0, 0%, 100%);
  --_clr-700: hsl(0, 0%, 80%);
  --_clr-400: hsl(0, 0%, 60%);
}

.frontlead {
  font-family: "Source Code Pro", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

#home {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#about {
  padding-top: 4rem;
  min-height: 100vh;
}

#projects {
  padding-top: 4rem;
  min-height: 95vh;
}

.svg_white {
  fill: #fff;
}

@media (max-width: 576px) {
  /* img {
      width: 200px !important;
    } */

  #home {
    /* display: flex; */
    justify-content: end;
    margin-right: 0px;
    padding-right: 0px;
  }
}

.bottomblur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

#prof-pic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name {
  font-size: clamp(1rem, calc(1rem + 2.5vw), 3rem);
  color: hsl(0, 0%, 50%);
  user-select: none;

  &.split-text {
    display: inline-flex;
  }

  & .split-char {
    font-weight: 200;
    transition: font-weight 0.5s ease;

    &:hover {
      font-weight: var(--_fw-900);
      color: var(--_clr-900);
    }

    &:hover + .split-char {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }
    &:hover + .split-char + .split-char {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }

    &:has(+ .split-char:hover) {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }
    &:has(+ .split-char + .split-char:hover) {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }
  }
}

@keyframes name {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
