@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.frontlead {
  font-family: 'Source Code Pro', monospace;
}

/* .stage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.svg_white {
    fill: #fff;
}


@media (max-width: 576px) { 
    .rounded-4 {       
        border-radius: 0 !important;
    }
    div.bg-dark {
      background-color: transparent !important;
    }
    img {
      width: 200px !important;
    }
    #tophero {
      display: flex;
      justify-content: end;
      margin-right: 0px;
      padding-right: 0px;
    }
}

.bottomblur {
  backdrop-filter: blur(3px);
}